/*General*/
a{
	text-decoration: none;
	color: black;
}
/*logo*/
.logo img{
	width: 100%;
	margin-bottom: 30px;
	margin-top: 30px;
}
.logo {
}
/*end*/
/*Barra de navegacion*/
.navbar ul {
   border-top: 1px solid black;
   border-bottom: 1px solid black;
   list-style: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

.navbar li {
	text-align: center;
    float: left;
    border-right: 1px solid black;
    margin-top: 3px;
    margin-bottom: 3px; 
    margin-left: 10px;
}
.navbar li:first-child {
	margin-left: 25%;
}
.navbar li:last-child {
	border-right:0px solid white;
}
.navbar li a {
	font-size: 18px;
    display: block;
    color: black;
    text-align: center;
    padding: 5px 7px;
    text-decoration: none;
    transition: all 0.5s ease;
}
.navbar li a:hover {
    display: block;
    color: darkgray;
    text-align: center;
    padding: 5px 7px;
    text-decoration: none;
    transition: all 0.5s ease;
}
/*Jumbotron*/
.jumbotron {
	text-align: center;
	margin-top: 30px;
}
.jumbotron img {
	width: 100%;
}
/*Parrafo intro*/
.intro p {
  display: block;
	width: 70%;
	margin-left: 15%;
	font-weight: bold;
	text-align: center;
	font-size: 19px;
}
.intro{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
.line {
  margin-left: 45%;
  width: 40px;
  height: 3px;
  background-color: gray;
  text-align: center;
}
.line-black {
  width: 50px;
  height: 5px;
  background-color: black;
}
/*Nuestras Coders*/
.coder-img img {
  width: 100%;
}
.coder-img {
  margin-top: 30px;
  position: relative;
}
.coder-img a {
  padding: 2px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-family: Comic Sans MS;
  font-style: italic;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #F5DA81;
  border: 1px solid white;
  transition: all 0.5s ease;
}
.coder-img a:hover {
  padding: 2px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-family: Comic Sans MS;
  font-style: none;
  font-size: 13px;
  text-transform: uppercase;
  background-color: #F5DA81;
  border: 1px solid white;
  color: orange;
  transition: all 0.5s ease;
}
.coders {
  margin-bottom: 50px;  
}
/*INICIO PAGINA CODER*/
.coder-page {
  border: 1px solid gray;
}
.picture {
  margin-top: 50px;
}
.picture img{
  width: 100%;
  border-radius: 100px;
}
.coder-page h1 {
  text-align: center;
}
.lorem {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

/*habilidades*/
.score-gray {
  background-color: gray;
  color: white;
  height: 40px;
  margin-top: 30px;
  margin-left: 25px;
}
.score-gray p {
  padding: 10px 5px 5px 5px;
}
/*Portafolio*/

.portafolio {
  margin-top: 30px;
  margin-bottom: 50px;
}
.port-img {
  margin-top: 30px;
}
.port-img img {
  width: 100%;
  border: 2px solid white;
  transition: all 0.5s ease;
}
.port-img img:hover{
  width: 100%;
  border: 2px solid gray;
  transition: all 0.5s ease;
}